<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>SVG Bulk Processor</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>
<body>

<h1>SVG Bulk Processor</h1>
<p>
  All SVG files have been converted. Go check them out in: <code>{{outputDirectory}}</code>
</p>


</body>
</html>
